@charset "UTF-8";
/* ===================================================================
 * 
 * Biomagnetismo v1.0 Main Stylesheet
 * Custom class
 * 
 * Conteúdos:
 * 
 * # precisa definir os conteúdos

 * # footer

* =================================================================== */


/* -----------------------------------------------------
  Media Query Exemplos
  -----------------------------------------------------
@media only screen and (min-width: 320px) {}
@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 600px) {}
@media only screen and (min-width: 768px) {} 
@media only screen and (min-width: 830px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1382px) {}

@media only screen and (min-width: 320px) {}
@media only screen and (min-width: 768px) {} 

*/ 


/* ------------------------------------------------------
    Fonts
---------------------------------------------------------

font-family: 'Maven Pro', sans-serif;
font-family: Georgia, serif;

-------------------------------------------------------*/

@import url("../font-awesome/css/all.min.css");


.popObrigado {
    display: none;
}


/* ===================================================================
 * # botão
 *
 * ------------------------------------------------------------------- */
 button.btn-frm-novas-turmas {    
    border: solid 2px #524fa1;    
    height:36px;
    width:240px;
    border-radius: 30px;
    padding:7px 60px 9px 27px; 
    margin-top:0px;
    font-size:13px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    color: #524fa1;
    background: #ffffff;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
button.btn-frm-novas-turmas.large {
    width:340px;
}
button.btn-frm-novas-turmas:after {
    content: '>';
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    font-size: 18px;
    width:37px;
    height: 36px;
    background-color:#7675b0;
    color: #fff;
    border: solid 2px #524fa1;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding:1px 10px 0 10px;
    position: absolute;
    top:-2px;
    right: -2px;
}



/* ===================================================================
 * # nome das páginas internas
 *
 * ------------------------------------------------------------------- */
.nome-da-pagina {
    height: 372px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4e4e99+22,2d71af+100 */
    background: #4e4e99; /* Old browsers */
    background: -moz-linear-gradient(top,  #4e4e99 22%, #2d71af 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4e4e99 22%,#2d71af 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4e4e99 22%,#2d71af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e99', endColorstr='#2d71af',GradientType=0 ); /* IE6-9 */
    position: relative;
}
@media only screen and (min-width: 320px) {
    .nome-da-pagina h1 {
        color: #fff;
        text-align: center;
        padding: 230px 0 0 0;
        position: relative;
        font-family: 'Maven Pro', sans-serif;
        font-size: 40.73px;
    }
}
@media only screen and (min-width: 768px) {
    .nome-da-pagina h1 {
        color: #fff;
        text-align: center;
        padding: 230px 0 0 0;
        position: relative;
        font-family: 'Maven Pro', sans-serif;
        font-size: 51.73px;
    }
} 



/* ===================================================================
 * # a sociedade brasileira de biomagnetismo
 *
 * ------------------------------------------------------------------- */
@media only screen and (min-width: 320px) {
    .sociedade-brasileira-de-biomagnetismo {
        margin:60px auto;
        background-color: #fff;
    }
    .sociedade-brasileira-de-biomagnetismo h2 {
        font-family: 'Maven Pro', sans-serif;
        font-size:26.45px;
        text-transform: uppercase;
        color:#4e4e99;
        text-align: left;
        padding:0 0 0 0;
    }
}
@media only screen and (min-width: 768px) {
    .sociedade-brasileira-de-biomagnetismo {
        margin:116px auto;
        background-color: #fff;
    }
    .sociedade-brasileira-de-biomagnetismo h2 {
        font-family: 'Maven Pro', sans-serif;
        font-size:26.45px;
        text-transform: uppercase;
        color:#4e4e99;
        text-align: right;
        padding:0 40px 0 0;
    }
} /*col-sm*/

.sociedade-brasileira-de-biomagnetismo p {
    font-family: Georgia, serif;
    font-size: 17px;
    color:#313131;
}


/* ===================================================================
 * # números
 *
 * ------------------------------------------------------------------- */
.nossos-cursos {
    background-color: #eeeeee;    
    padding:130px 0 30px 0;
    display: block;
}
.nossos-cursos h3 {
    font-family: 'Maven Pro', sans-serif;
    color:#4e4e99;
    font-size: 23px;
    padding:0 0 0 23px;
    display: block;
    position: relative;
}
.nossos-cursos h3:before {
    content: '';
    width:19px;
    height: 132px;
    bottom: 0;
    left:0;
    background: #46b5d3;
    display: block;
    position: absolute;
}

@media only screen and (min-width: 320px) {
    .nossos-cursos p {
        font-family: Georgia, serif;
        font-size:18px;
        font-weight: normal;
        color:#313131;
        padding: 10px 0 80px 0;
        margin: 0 0 60px 0;
    }
}
@media only screen and (min-width: 768px) {
    .nossos-cursos p {
        font-family: Georgia, serif;
        font-size:18px;
        font-weight: normal;
        color:#313131;
        padding: 50px 0 30px 0;
        margin: 0 0 0 0;
    }
}



/* ===================================================================
 * # manifesto
 *
 * ------------------------------------------------------------------- */
.sobre-novas-turmas {
    margin:0 0 0 0;
    padding:0 0 60px 0;
    background-color: #ffffff;    
}
@media only screen and (min-width: 320px) {
    .sobre-novas-turmas h2 {
        font-family: 'Maven Pro', sans-serif;
        font-size: 25.5px;
        color:#4e4e99;
        text-transform: uppercase;
        font-weight: bold;
        margin: 60px 0 30px 0;
        padding:0 40px 0 0;
        position: relative;
    }
    .sobre-novas-turmas img {
        max-width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .sobre-novas-turmas h2 {
        font-family: 'Maven Pro', sans-serif;
        font-size: 37.5px;
        color:#4e4e99;
        text-transform: uppercase;
        font-weight: bold;
        margin: 100px 0 30px 0;
        padding:0 40px 0 0;
        position: relative;
    }
    .sobre-novas-turmas img {
        max-width: none;
    }
} /*col-sm*/

.sobre-novas-turmas h2:before {
    content:'';
    width: 60px;
    height: 9px;
    background-color:#52509d;
    position: absolute;
    top:-20px;
    left:0;
}
.sobre-novas-turmas input {
    font-family: 'Maven Pro', sans-serif;
    width: 100%;
    margin:0 0 20px 0;
    padding: 10px 8px;
    border-radius: 8px;
    border: none;
    background: #eeeeee;
    color:#4e4e99;
    font-size: 18px;
}
.sobre-novas-turmas input::-webkit-input-placeholder { /* Edge */
    color:#4e4e99;
}
.sobre-novas-turmas input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#4e4e99;
}
.sobre-novas-turmas input::placeholder {
    color:#4e4e99;
}

.sobre-novas-turmas p span {
    font-family: 'Maven Pro', sans-serif;
    font-size: 25px;
    color: #4e4e99;
}


  


/* ===================================================================
 * # tratamento e profissionalização
 *
 * ------------------------------------------------------------------- */
@media only screen and (min-width: 320px) {
    .tratamentos-e-profissionalizacao {
        background-color: #ffffff;    
        padding:60px 0 100px 0;
        display: block;
        position: relative;
        z-index: 1;
    }    
}
@media only screen and (min-width: 768px) {
    .tratamentos-e-profissionalizacao {
        background-color: #ffffff;    
        padding:160px 0 100px 0;
        display: block;
        position: relative;
        z-index: 1;
    }
    
} /*col-sm*/




/* ===================================================================
 * # cursos e terapias
 *
 * ------------------------------------------------------------------- */

 @media only screen and (min-width: 320px) {
    .cursos_e_terapias .quadro-esq {
        background-color:#52509d;
        margin-right:0;
        padding:100px 60px;
        text-align:left;
    }
    .cursos_e_terapias .quadro-dir {
        background-color:#08acd8;
        margin-left:0;
        padding:100px 60px;
        text-align:left;
    }
}
@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 600px) {}
@media only screen and (min-width: 768px) {
    .cursos_e_terapias .quadro-esq {
        background-color:#52509d;
        margin-right: 5px;
        padding:100px 60px;
        text-align:right;
    }
    .cursos_e_terapias .quadro-dir {
        background-color:#08acd8;
        margin-left:5px;
        padding:100px 60px;
        text-align:left;
    }
} /*col-sm*/
@media only screen and (min-width: 830px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1382px) {}



@media only screen and (min-width: 320px) {
    .cursos_e_terapias {
        margin: 60px auto;
        position: relative;
        z-index: 2;    
    }
    .cursos_e_terapias .quadro-esq h2 {
        font-family: 'Maven Pro', sans-serif;
        color:#00a0cb;
        font-size: 30px;
        line-height: 35px;
        margin:0!important;    
    }
}
@media only screen and (min-width: 768px) {
    .cursos_e_terapias {
        margin: 120px auto;
        position: relative;
        z-index: 2;    
    }
    .cursos_e_terapias .quadro-esq h2 {
        font-family: 'Maven Pro', sans-serif;
        color:#00a0cb;
        font-size: 55px;
        line-height: 50px;
        margin:0!important;
    
    }
} 

.cursos_e_terapias .quadro-esq p {
    font-family: Georgia, serif;
    font-size:17px;
    color:#fff;
    margin-bottom: 50px;
    text-align: left!important;

}
.cursos_e_terapias .quadro-esq {
    position: relative;
    text-align: left!important;
}
.cursos_e_terapias .quadro-esq:before {
    content:'';
    width:60px;
    height: 9px;
    background-color:#00a0cb;
    display:block;
    position:absolute;
    top:-3px;
    left:80px;
    z-index: 2;
}
.cursos_e_terapias .quadro-esq a {    
    border: solid 2px #00aaeb;    
    height:36px;
    width: 350px;
    border-radius: 30px;
    padding:7px 60px 9px 27px; 
    margin-top:40px;
    font-size:13px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
.cursos_e_terapias .quadro-esq a:after {
    content: '>';
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    font-size: 18px;
    width:37px;
    height: 36px;
    background-color:#2b76b3;
    color: #fff;
    border: solid 2px #00aaeb;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding:1px 10px 0 10px;
    position: absolute;
    top:-2px;
    right: -2px;
}

.cursos_e_terapias .quadro-dir h2 {
    font-family: 'Maven Pro', sans-serif;
    color:#52509d;
    font-size: 55px;
    line-height: 50px;
}
.cursos_e_terapias .quadro-dir p {
    font-family: Georgia, serif;
    font-size:17px;
    color:#fff;
    margin-bottom: 100px;
}
.cursos_e_terapias .quadro-dir:before {
    content:'';
    width:60px;
    height: 9px;
    background-color:#52509d;
    display:block;
    position:absolute;
    top:-3px;
    left:80px;
    z-index: 2;
}
.cursos_e_terapias .quadro-dir a {    
    border: solid 2px #524fa1;    
    height:36px;
    width: 350px;
    border-radius: 30px;
    padding:7px 60px 9px 27px; 
    margin-top:40px;
    font-size:13px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
.cursos_e_terapias .quadro-dir a:after {
    content: '>';
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    font-size: 18px;
    width:37px;
    height: 36px;
    background-color:#4165ab;
    color: #fff;
    border: solid 2px #524fa1;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding:1px 10px 0 10px;
    position: absolute;
    top:-2px;
    right: -2px;
}
.cursos-e-terapias-pg-a-sbbio {
    margin: -180px 0 -100px 0;
    position: relative;
    z-index: 2;
}












/* ===================================================================
 * # depoimentos
 *
 * ------------------------------------------------------------------- */
 .depoimentos-home {
    background: url(../images/bg-depoimentos.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 1;    
    margin-bottom: 180px;
    padding:172px 0 95px 0;
}
/*-----------------------------------------------------
Section Geral Textos Laterais
-----------------------------------------------------*/
.textos-laterais h2 {
    margin: 120px 0 20px 0;
    padding: 0;
    text-align: left;
    font-family: 'Maven Pro', sans-serif;
    font-size: 40px;
    color: #52509d;
}
.textos-laterais p {
    margin: 10px 0 0 0;
    padding: 0;
    font-family: Georgia, serif;
    font-size:17px;
    color:#fff;
}
.textos-laterais p.align-left {
    text-align: left;
}
.textos-laterais a {
    color: inherit;
    text-decoration: none;
}
.textos-laterais a:hover {
    color: #00497a;
}

/*-----------------------------------------------------
Section Home Produtos
-----------------------------------------------------*/
.conteiner-slider {
    /*padding: 70px 0;*/
    background: #08acd8;
    overflow: hidden;
}

.conteiner-slider ul {
    margin: 20px 0 20px 0;
    padding: 0;
    list-style: none;
    text-align: left;
}
  .conteiner-slider ul li {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    border: solid 1px #fff;
    cursor: pointer;
    padding: 5px 0 0 0;
    font-size: 1.3em;
    color: #fff;
    text-align: center;
}

.conteiner-slider ul.itens-do-slider {
    margin: 0 0 0 0;
    padding: 0;
    height:500px;
    list-style: none;
    text-align: right;
    background-color: #9adef0;
}
.conteiner-slider ul.itens-do-slider li {
    display: inline-block;
    width: 44px;
    height: 44px;
    border: none;
    cursor: pointer;
    padding: 0 0 0 0;
    font-size: 1.3em;
    color: #343434;
    text-align: left;
}
.conteiner-slider .contenido-slider {
    position: relative;    
}
.conteiner-slider .conteudo {
    width: 200%;
    position: relative;
}

.slider .item {
    position: relative;
    border: none;
    cursor: pointer;
} 
.slider .item .item-content {
    display: block;
    padding: 90px 10px 0 60px;
    width: 100%;
}  
.slider .item .item-content p {
    font-family: Georgia, serif;
    font-size: 17px;
    line-height: normal;
    color: #313131;
    text-align: left;
}
.slider .item .item-content span {
    font-family: Georgia, serif;
    color:#52509d;
    font-size: 17px;
    line-height: normal;
    display: block;
    margin-top: 20px;
}  

/* ===================================================================
 * # video
 *
 * ------------------------------------------------------------------- */
 .video-bio {
    background-color: #dddddd;
}

@media only screen and (min-width: 320px) {  
    
    .video-bio img {
        max-width: 100%;
    }
    
    .video-bio .play {    
        width: 82px;
        height: 82px;
        background-color: #4e4e99;
        display: block;
        position: absolute;
        bottom:calc(100% - (41px));
        left:calc(50% - (41px));
        z-index: 10;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        cursor: pointer;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
    }
    .video-bio .play i.fa {
        font-size: 30px;
        color: #08acd8;
        position: absolute;
        top:27px;
        left:31px;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
    }
    .video-bio .play:hover {
        background-color: #cf8262;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
    }
    .video-bio .play:hover > i.fa {
        color:#004d70;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
    }


    .conteudo {
        height: 100%;
        padding-top:60px;
        padding-bottom: 60px;        
        margin-top: -10px;
        text-align: center;
        position: relative;
        
    }
    .conteudo p {
         font-size: 30px;
         color:#004d70;         
         font-weight: 300;
         line-height: 35px;
         font-family: 'Maven Pro', sans-serif;
    }
}
@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {

    .video-bio img {
        max-width: none;
    }
    
    .video-bio .play {    
        width: 82px;
        height: 82px;
        display: block;
        position: absolute;
        top:calc(50% - (41px));
        left: -28px;
        z-index: 1;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        cursor: pointer;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
    }
    .video-bio .play i.fa {
        font-size: 30px;
        position: absolute;
        top:27px;
        left:31px;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
    }
    .video-bio .play:hover {
        background-color: #cf8262;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
    }
    .video-bio .play:hover > i.fa {
        color:#004d70;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
    }


    .conteudo {
        height: calc(100% - 9px);
        padding-top:25%;
        padding-bottom: 0;
        padding-left: 60px;
        margin-top:0;
        text-align: left;
    }
    .conteudo p {
         font-size: 30px;
         color:#004d70;
         font-weight: 300;
         line-height: 35px;
    }
}
@media only screen and (min-width: 992px) {
    .conteudo {
        height: calc(100% - 9px);
        padding-top:25%;
        padding-left: 60px;
    }
    .conteudo p {
         font-size: 40px;
         color:#004d70;
         font-weight: 300;
         line-height: 45px;
    }
}
@media only screen and (min-width: 1080px) {
    .conteudo {
        height: calc(100% - 9px);
        padding-top:25%;
        padding-left: 60px;
        padding-right: 60px;
    }
    .conteudo p {
         font-size: 50px;
         color:#004d70;
         font-weight: 300;
         line-height: 55px;
    }
}

.adjust-button {
    margin-top: 100px;
}

@media only screen and (max-width: 640px) {
    .adjust-button {
        margin: 30px 50px;
        text-align: center !important;
    }   
}

@media only screen and (max-width: 320px) {
    .adjust-button {
        margin: 30px 0px;
        text-align: center !important;
    }   
}

.contenido-slider.comment-video ul div.slick-list div.slick-track div.slick-slide {
    width: 900px !important;
}

.contenido-slider.comment-video ul div.slick-list div.slick-track div.slick-slide .item-content {
    display: inline;
}


.contenido-slider.comment-video ul div.slick-list div.slick-track div.slick-slide .item-content .conteudo {
    width: 100%;
}

.contenido-slider.comment-video ul div.slick-list div.slick-track div.slick-slide .item-content img {
    width: 500px;
    height: 450px;
}

